/* ---- Body ---- */
body {
	background: url(../images/food.jpg) top left repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 40px;
}
h1 {
    font-family: 'Playfair Display', serif;
}
h2 {
    font-family: 'Arimo', sans-serif;
}

/* ---- Header ---- */

header {
	width: 720px;
	margin: 80px auto 0 auto;
    text-align: center;
}

header h1 {
	font-size: 30px;
	font-weight: bold;
	color: #272727;
	text-shadow: 0 1px 0 #fff;
    text-align: center;
}

header p {
	margin: 20px 0 0 3px;
	font-size: 25px;
	color: #272727;
    text-align: center;

/* ---- Main Area ---- */

/*#main {
    text-align: center;
	position: relative;
	width: 700px;
	margin: 50px auto 0 auto;
	padding: 20px 0 0 25px;
	background: url(../images/main-content-pattern.jpg) top left repeat;*/
}



/* ---- Subscription Form ---- */

form {
	text-align: center;
    position: relative;
	width: 700px;
	margin: 50px auto 0 auto;
	padding: 20px 0 0 25px;
    background: url(../images/main-content-pattern.jpg) top left repeat;

}

form :focus {
  outline: none;
}


.layer {
    background-color: #000000(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -50;
}
